In [2]:
import yfinance as yf
import pandas as pd

# Set the parameters
ticker = 'SPY'
start_date = '2024-01-01'  # Starting date of the 7-month period
end_date = '2024-12-01'  # End date of the 7-month period
initial_investment = 100000  # Initial investment amount
transaction_factor = 0.975  # Transaction cost/slippage factor (2.5% cost)

# Step 1: Download historical price data for SPY over 7 months
spy_data = yf.download(ticker, start=start_date, end=end_date)

# Step 2: Extract the closing price on the first and last day of the period
start_price = spy_data['Close'].iloc[0]  # First day closing price
end_price = spy_data['Close'].iloc[-1]   # Last day closing price

# Step 3: Calculate how many shares you can buy on the first day with the transaction factor applied
shares_purchased = (initial_investment * transaction_factor) / start_price

# Step 4: Calculate the value of the investment at the end of the 7 months
final_value = shares_purchased * end_price  # Apply the factor on final value too


# Display the results
print(f"Start Price: {start_price:.2f}")
print(f"End Price: {end_price:.2f}")
print(f"Shares Purchased: {shares_purchased:.2f}")
print(f"Initial Value of Investment: {initial_investment:.2f}")
print(f"Final Value of Investment: {final_value:.2f}")

[*********************100%%**********************]  1 of 1 completed

Start Price: 472.65
End Price: 594.56
Shares Purchased: 206.28
Initial Value of Investment: 100000.00
Final Value of Investment: 122648.05

In [10]:
spy_data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,472.160004,473.670013,470.489990,472.649994,468.234558,123623700
2024-01-03,470.429993,471.190002,468.170013,468.790009,464.410675,103585900
2024-01-04,468.299988,470.959991,467.049988,467.279999,462.914734,84232200
2024-01-05,467.489990,470.440002,466.429993,467.920013,463.548798,86060800
2024-01-08,468.429993,474.750000,468.299988,474.600006,470.166382,74879100
2024-01-09,471.869995,474.929993,471.350006,473.880005,469.453125,65931400
2024-01-10,474.160004,477.450012,473.869995,476.559998,472.108063,67310600
2024-01-11,477.589996,478.119995,472.260010,476.350006,471.900055,77940700
2024-01-12,477.839996,478.600006,475.230011,476.679993,472.226929,57944000
2024-01-16,475.260010,476.609985,473.059998,474.929993,470.493256,85014900

In [14]:
print(yf.__version__)

0.2.40