In [1]:
import yfinance as yf
import pandas as pd

# Set the parameters
ticker = 'SPY'
start_date = '2024-01-01'  
end_date = '2025-01-01'  
initial_investment = 100000  # Initial investment amount
transaction_factor = 0.9975  # Transaction cost

# Step 1: Download historical price data for SPY over 12 months
spy_data = yf.download(ticker, start=start_date, end=end_date, auto_adjust = False)
spy_data.columns = spy_data.columns.get_level_values(0)
spy_data = spy_data.drop(columns={'High', 'Low', 'Open', 'Volume'})

# Step 2: Extract the closing price on the first and last day of the period
start_price = spy_data['Close'].iloc[0]  # First day closing price
end_price = spy_data['Close'].iloc[-1]   # Last day closing price

# Step 3: Calculate how many shares you can buy on the first day with the transaction factor applied
shares_purchased = (initial_investment * transaction_factor) / start_price

# Step 4: Calculate the value of the investment at the end of the 12 months
final_value = shares_purchased * end_price  # Apply the factor on final value too


# Display the results
print(f"Start Price: {start_price:.2f}")
print(f"End Price: {end_price:.2f}")
print(f"Shares Purchased: {shares_purchased:.2f}")
print(f"Initial Value of Investment: {initial_investment:.2f}")
print(f"Final Value of Investment: {final_value:.2f}")

[*********************100%***********************]  1 of 1 completed

Start Price: 465.26
End Price: 584.32
Shares Purchased: 214.39
Initial Value of Investment: 100000.00
Final Value of Investment: 125275.33

In [2]:
print(start_price)

465.26434326171875

In [3]:
spy_data.head(10)

Price            Close
Date
2024-01-02  465.264343
2024-01-03  461.464661
2024-01-04  459.978241
2024-01-05  460.608276
2024-01-08  467.183929
2024-01-09  466.475128
2024-01-10  469.113281
2024-01-11  468.906555
2024-01-12  469.231354
2024-01-16  467.508698

In [4]:
spy_data.tail(10)

Price            Close
Date
2024-12-17  600.456665
2024-12-18  582.560974
2024-12-19  582.382080
2024-12-20  589.377075
2024-12-23  592.906433
2024-12-24  599.496582
2024-12-26  599.536499
2024-12-27  593.225464
2024-12-30  586.455811
2024-12-31  584.322266

In [5]:
print(yf.__version__)

0.2.54

In [6]:
# Set the parameters
ticker = 'SPY'
start_date = '2022-01-01'  
end_date = '2023-01-01'  
initial_investment = 100000  # Initial investment amount
transaction_factor = 0.9975  # Transaction cost

# Step 1: Download historical price data for SPY over 12 months
spy_data = yf.download(ticker, start=start_date, end=end_date)
spy_data.columns = spy_data.columns.get_level_values(0)
spy_data = spy_data.drop(columns={'High', 'Low', 'Open', 'Volume'})
# Step 2: Extract the closing price on the first and last day of the period
start_price = spy_data['Close'].iloc[0]  # First day closing price
end_price = spy_data['Close'].iloc[-1]   # Last day closing price

# Step 3: Calculate how many shares you can buy on the first day with the transaction factor applied
shares_purchased = (initial_investment * transaction_factor) / start_price

# Step 4: Calculate the value of the investment at the end of the 12 months
final_value = shares_purchased * end_price  # Apply the factor on final value too


# Display the results
print(f"Start Price: {start_price:.2f}")
print(f"End Price: {end_price:.2f}")
print(f"Shares Purchased: {shares_purchased:.2f}")
print(f"Initial Value of Investment: {initial_investment:.2f}")
print(f"Final Value of Investment: {final_value:.2f}")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

Start Price: 455.81
End Price: 370.82
Shares Purchased: 218.84
Initial Value of Investment: 100000.00
Final Value of Investment: 81150.21