In [5]:
import yfinance as yf
import pandas as pd

# Set the parameters
ticker = 'SPY'
start_date = '2024-01-01'  # Starting date of the 11-month period
end_date = '2025-01-01'  # End date of the 11-month period
initial_investment = 100000  # Initial investment amount
transaction_factor = 0.9975  # Transaction cost/slippage factor (2.5% cost)

# Step 1: Download historical price data for SPY over 11 months
spy_data = yf.download(ticker, start=start_date, end=end_date)

# Step 2: Extract the closing price on the first and last day of the period
start_price = spy_data['Close'].iloc[0]  # First day closing price
end_price = spy_data['Close'].iloc[-1]   # Last day closing price

# Step 3: Calculate how many shares you can buy on the first day with the transaction factor applied
shares_purchased = (initial_investment * transaction_factor) / start_price

# Step 4: Calculate the value of the investment at the end of the 11 months
final_value = shares_purchased * end_price  # Apply the factor on final value too


# Display the results
print(f"Start Price: {start_price:.2f}")
print(f"End Price: {end_price:.2f}")
print(f"Shares Purchased: {shares_purchased:.2f}")
print(f"Initial Value of Investment: {initial_investment:.2f}")
print(f"Final Value of Investment: {final_value:.2f}")

[*********************100%%**********************]  1 of 1 completed

Start Price: 472.65
End Price: 586.08
Shares Purchased: 211.04
Initial Value of Investment: 100000.00
Final Value of Investment: 123688.74

In [6]:
print(start_price)

472.6499938964844

In [7]:
spy_data.head(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-01-02,472.160004,473.670013,470.489990,472.649994,466.664001,123623700
2024-01-03,470.429993,471.190002,468.170013,468.790009,462.852875,103585900
2024-01-04,468.299988,470.959991,467.049988,467.279999,461.361969,84232200
2024-01-05,467.489990,470.440002,466.429993,467.920013,461.993896,86060800
2024-01-08,468.429993,474.750000,468.299988,474.600006,468.589264,74879100
2024-01-09,471.869995,474.929993,471.350006,473.880005,467.878418,65931400
2024-01-10,474.160004,477.450012,473.869995,476.559998,470.524445,67310600
2024-01-11,477.589996,478.119995,472.260010,476.350006,470.317108,77940700
2024-01-12,477.839996,478.600006,475.230011,476.679993,470.642914,57944000
2024-01-16,475.260010,476.609985,473.059998,474.929993,468.915070,85014900

In [8]:
spy_data.tail(10)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-12-17,604.190002,605.169983,602.890015,604.289978,602.262939,55773500
2024-12-18,603.979980,606.409973,585.890015,586.280029,584.313416,108248700
2024-12-19,591.359985,593.000000,585.849976,586.099976,584.133972,85919500
2024-12-20,581.770020,595.750000,580.909973,591.150024,591.150024,125716700
2024-12-23,590.890015,595.299988,587.659973,594.690002,594.690002,57635800
2024-12-24,596.059998,601.340027,595.469971,601.299988,601.299988,33160100
2024-12-26,599.500000,602.479980,598.080017,601.340027,601.340027,41219100
2024-12-27,597.539978,597.780029,590.760010,595.010010,595.010010,64969300
2024-12-30,587.890015,591.739990,584.409973,588.219971,588.219971,56578800
2024-12-31,589.909973,590.640015,584.419983,586.080017,586.080017,57052700

In [9]:
print(yf.__version__)

0.2.40