In [1]:
import yfinance as yf
import os
import pandas as pd

In [4]:

def download_and_save_ticker(ticker, start="2000-01-01", end="2023-12-31", save_dir="Data/2024"):
    os.makedirs(save_dir, exist_ok=True)
    file_path = os.path.join(save_dir, f"{ticker}_training.csv")

    if os.path.exists(file_path):
        print(f"{ticker} already downloaded.")
        return

    print(f"Downloading {ticker}...")
    data = yf.download(ticker, start=start, end=end, auto_adjust=True)
    data.columns = data.columns.get_level_values(0)
    data = data.drop(columns={'High', 'Low', 'Open', 'Volume'})
    data.to_csv(file_path)
    print(f"Saved to {file_path}")

In [5]:
tickers = ['SMH', 'SOXX', 'PSI', 'XSD', 'IYW', 'XLK', 'VGT', 'QQQ', 'IGM', 'IXN']
for ticker in tickers:
    download_and_save_ticker(ticker)

[*********************100%***********************]  1 of 1 completed

Downloading SMH...
Saved to Data/2024/SMH_training.csv
Downloading SOXX...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/SOXX_training.csv
Downloading PSI...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/PSI_training.csv
Downloading XSD...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/XSD_training.csv
Downloading IYW...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/IYW_training.csv
Downloading XLK...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/XLK_training.csv
Downloading VGT...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/VGT_training.csv
Downloading QQQ...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/QQQ_training.csv
Downloading IGM...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/IGM_training.csv
Downloading IXN...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2024/IXN_training.csv

In [6]:
data=pd.read_csv('Data/2024/SMH_training.csv')

In [7]:
data.head(10)

         Date      Close
0  2000-06-05  42.031490
1  2000-06-06  40.301262
2  2000-06-07  40.966732
3  2000-06-08  41.153069
4  2000-06-09  42.004875
5  2000-06-12  40.381111
6  2000-06-13  42.084732
7  2000-06-14  40.274643
8  2000-06-15  40.620682
9  2000-06-16  40.886879

In [8]:
data.tail(10)

            Date       Close
5921  2023-12-15  172.273453
5922  2023-12-18  172.575104
5923  2023-12-19  173.152557
5924  2023-12-20  168.333908
5925  2023-12-21  172.495453
5926  2023-12-22  172.515381
5927  2023-12-26  174.894821
5928  2023-12-27  175.083984
5929  2023-12-28  175.044174
5930  2023-12-29  174.098358

In [14]:
for ticker in tickers:
    download_and_save_ticker(ticker, end="2022-01-01", save_dir="Data/2022")

Downloading SMH...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/SMH_training.csv
Downloading SOXX...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/SOXX_training.csv
Downloading PSI...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/PSI_training.csv
Downloading XSD...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/XSD_training.csv
Downloading IYW...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/IYW_training.csv
Downloading XLK...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/XLK_training.csv
Downloading VGT...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/VGT_training.csv
Downloading QQQ...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/QQQ_training.csv
Downloading IGM...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/IGM_training.csv
Downloading IXN...

[*********************100%***********************]  1 of 1 completed

Saved to Data/2022/IXN_training.csv

In [15]:
data=pd.read_csv('Data/2022/SMH_training.csv')

In [16]:
data.head(10)

         Date      Close
0  2000-06-05  42.031498
1  2000-06-06  40.301258
2  2000-06-07  40.966728
3  2000-06-08  41.153069
4  2000-06-09  42.004879
5  2000-06-12  40.381111
6  2000-06-13  42.084736
7  2000-06-14  40.274639
8  2000-06-15  40.620686
9  2000-06-16  40.886883

In [17]:
data.tail(10)

            Date       Close
5420  2021-12-17  143.700653
5421  2021-12-20  142.620865
5422  2021-12-21  147.772659
5423  2021-12-22  149.529053
5424  2021-12-23  150.815796
5425  2021-12-27  154.876541
5426  2021-12-28  153.350098
5427  2021-12-29  153.325638
5428  2021-12-30  151.583893
5429  2021-12-31  151.075089